@page "/history"
@namespace CleverPoint.Migrator.Ux.Components.Pages
<div class="page-head"><h1>History</h1><p>Past migrations.</p></div>
<FluentCard><p class="hint">History grid coming up next.</p></FluentCard>
